.home-card{
    color: #fff;
    font-weight: bold;
    width:40%;
    margin-left: 5%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:1px 1px 1px 1px rgb(129, 129, 129);
    opacity: 0.5;
}
.home-card:hover{
  opacity:1;
  font-size:12vmin;
}