.card{
    border:2px solid white;
    width:20%;
    margin:5%;
    height:20%;
    color: white;
    font-size: 4vmin;
}
.card:hover{
    color:#333;
    background-color: #fff;
    border:2px solid red;
}